{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container d-grid justify-content-center">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="">
			<p class="form-text error-text text-danger">
	          {{ form.non_field_errors.as_text }}
	      	</p>

	      	<p class="text-danger">
	          {{ form.oldpassword.errors.as_text }}
	        </p>

	        <div class="form-floating mb-3">
		        <input type="password"  name="oldpassword" class="form-control rounded-3" id="floatingoldpassword" placeholder="password" autocomplete="current-password" required>
		        <label class="d-flex" for="floatingoldpassword">Current Password</label>
		    </div>

			<div class="form-floating mb-3">
		        <input type="password"  name="password1" class="form-control rounded-3" id="floatingPassword1" placeholder="password" autocomplete="new-password" required>
		        <label class="d-flex" for="floatingPassword1">New Password</label>
		    </div>
	        <p class="text-danger">
	          {{ form.password1.errors.as_text }}
	        </p>

		    <div class="form-floating mb-3">
		       
		        <input type="password"  name="password2" class="form-control rounded-3" id="floatingPassword2" placeholder="Confirm password" autocomplete="new-password" required>
		        <label class="d-flex" for="floatingPassword2">Confirm New<span class="d-sm-none mx-1">pass...</span><span class="d-none d-sm-flex mx-1"> Password</span></label>
		    </div>


	        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
	        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
	    </div>
    </form>
</div>
{% endblock %}
